<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>New blog post</title>
</head>
<body>
<nav class="navbar navbar-light bg-light nav justify-content-end">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">My Blog</button>
    <button class="btn btn-outline-success" type="button">New Post</button>
    <button class="btn btn-outline-success" style="margin-right: 35px" type="button">Logout</button>
  </form>
</nav>
<h1 style="margin-left: 15%">NEW POST</h1>

<div class="container p-4">
  <div id="posts" class="row mt-4" style="flex-direction: column; align-items: center">
    <div class="item col-12 mb-3" style="width: 50%">
      <div class="card rounded shadow border-0">
        <div class="card-body p-3">
          <form action="#" th:action="@{/save}" th:object="${newpost}" method="POST" enctype="multipart/form-data">
            <input type="hidden" th:field="*{account.id}"/>
            <input type="hidden" th:field="*{createdAt}"/>
            <input type="text" th:field="*{title}" placeholder="Blog post title" class="form-control mb-4 col-4">
            <textarea class="form-control mb-4 col-4 has-counter" th:field="*{body}" maxlength="1000" placeholder="Blog post body" rows="15"></textarea>
            <div id="the-count" style="float: right">
              <span style="font-size: 14px; color: gray; font-family:'Courier New'" id="current">0</span>
              <span style="font-size: 14px; color: gray; font-family:'Courier New'" id="maximum">/ 1000</span>
            </div>
            <input type="file" name="image_upload" accept="image/*" class="form-control-file">
            <input type="hidden" th:field="*{image}"/>
            <button type="submit" name="save" class="btn btn-dark" value="form">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('textarea').keyup(function() {

  var characterCount = $(this).val().length,
      current = $('#current'),
      theCount = $('#the-count');

  current.text(characterCount);
});

</script>
</body>
</html>