<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error :: Invalid input</title>
  <link rel="stylesheet" type="text/css" href="css/error404.css" th:href="@{css/error404.css}">
</head>
<body>
<div class="mars"></div>
<img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title">Oh no!!</p>
<p class="subtitle">
  Try with another e-mail address! <br /> Looks like this one is occupied.
</p>
<div align="center">
  <a class="btn-back" href="#">Back to previous page</a>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
</body>
</html>